:root {
  --primary-color: #1DB954;
  --secondary-color: #191414;
  --text-color: #ffffff;
  --background-color: #121212;
  --hover-color: #333333;
  --input-color: #282828;
}

html {
  font-size: 62.5%;
}

#id {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 0 !important;
}
